a:hover {text-decoration: none;}

/* === Header === */
header {
	background: url('../img/bgHeader.png') no-repeat;
	background-size: cover;
	background-position: center!important;
	height: 150px;
    width: 100%;
}

h3 {
	margin: 80px 0 13px 0;
	font-size: 20px;
}

hr {
	border-color: #dfdfdf;
    margin: -1px 0 43px 0;
}

/* === Links === */
.container .row:last-child div.col-md-4 div {
	background: #efefef;
	text-align: center;
	margin-bottom: 70px;
}

.container .row:last-child div.col-md-4 div img {
	margin: 30px auto 10px;
}

.container .row:last-child div.col-md-4 div h5 {
	background: #f37b22;
    color: white;
    font-size: 15px;
    text-align: center;
    margin: 0 20px;
    padding: 12px 0;
    position: relative;
    bottom: -15px;
}


/* === Links === */
footer {
	background: #595a5c;
	height: 20px;
    width: 100%;
    bottom: 0px;
    position: fixed;
}